doctype html
html(lang="en")
  head
    title WebTutsPlus WebCon
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    // Import Google Fonts
    link(
      rel="stylesheet" 
      href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600&family=Josefin+Slab&display=swap"
      )
    // Import CSS file
    link(
      href="/stylesheets/video.css" 
      rel="stylesheet"
      )
  body.h-100
    .h-100(id="video_display")
      .align-items-center(
        style="margin-top: 10%;" 
        id="video_container"
        )
        #div1.video-wrapper(class="local_div")
          // For playing local video
          video#localVideo(
            playsinline="" 
            muted="" 
            autoplay=""
            )
        #div2.video-wrapper(class="remote_div")
          // For playing local audio
          video#remoteVideo(
            playsinline="" 
            autoplay=""
            )
      a(
        href="/chats"
        target="_blank"
        ) Another Chat Window
    // Import SocketIO for signalling
    script(src="/socket.io/socket.io.js")
    // Import WebRTC adapter for compatibility with all the browsers
    script(src="https://webrtc.github.io/adapter/adapter-latest.js")
    // Import TURN config
    script(src="/js/config.js")
    // Import script containing WebRTC related functions
    script(src="/js/main.js")