block footer-socket
    // Import SocketIO for signalling
    script(src="/socket.io/socket.io.js")
    // Import WebRTC adapter for compatibility with all the browsers
    script(src="https://webrtc.github.io/adapter/adapter-latest.js")