doctype html
html(lang="en")
  head
    title #{title}
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    // Import Google Fonts
    link(
      rel="stylesheet" 
      href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600&family=Josefin+Slab&display=swap"
      )
    // Import CSS file
    link(rel="stylesheet" href="/stylesheets/style.css")

    link(rel="stylesheet", href=`/stylesheets/${pathname}.css`)

  body

    block content


    include footer-socket

    // include footer-signaling

    script(src=`/js/${pathname}.js`)
    