extends layout

block content
  h1= title
  p.debug Welcome to #{title}
  p.fubar.debug #{fubar}
  .host-info 
    p.debug The server's protocol is 
      span.bold.italic #{protocol}
    hr
    p.debug The server's hostname is #[span.bold.italic #{hostname}], isn't it
    hr
    a(
      href=`${protocol}://${hostname}`
      ) The server's link is #[span.bold.italic #{protocol}://#{hostname}] but copy it instead of clicking
    hr
    p Testing $ #[span.bold.italic #{hostname}] failed…# only
  ul#navigation.debug
    li 
      a(href="users/") Users
    li 
      a(href=`${protocol}://${hostname}:3010/chats/`) #[b.debug Chats ]