extends head 

block content
  .h-100(id="video_display")
    .align-items-center(
      style="margin-top: 10%;" 
      id="room_container"
    )
      ul#rooms
        li Room 
          a(
            href="/chats/room/QQQQ"
            target="_blank"
          ) Chat Room QQQQ
            li Room 
              a(
                href="/chats/room/AAAA"
                target="_blank"
          ) Chat Room AAAA
            li Room 
              a(
                href="/chats/room/FUBAR"
                target="_blank"
          ) Chat Room FUBAR
            li Room 
              a(
                href="/chats/room/FOO"
                target="_blank"
          ) Chat Room FOO
            li Room 
              a(
                href="/chats/room/BAR"
                target="_blank"
          ) Chat Room BAR
            li Room 
              a(
                href="/chats/room/FOOBAR"
                target="_blank"
          ) Chat Room AAAA

    a(
      href=`${protocol}://${hostname}:3010/chats/`
      target="_blank"
    ) Another Chat Window


      